@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
html,body,table,td,th,img,form, input, ul,ol, li,dl,dt,dd, p, h1, h2, h3, h4, h5, h6,textarea{margin:0;padding:0;}
body{-webkit-text-size-adjust:none;color:#616f77;font:normal 62.5% "微软雅黑",Arial;background:#fdfcfc;color:#777;}
li{list-style:none;}
ul,ol{list-style:none outside none;}
img{border:none;}
a,a:hover{text-decoration:none;}
.clear:after{content:".";display:block;clear:both;height:0px;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}

.bg{
    width:100%;
    background: url(../images/bg.png) no-repeat top center;
}
.cont{ width:510px; margin:0 auto; position:relative; top:200px;}
.cont .logo{ width:508px; margin:0 auto;}
.cont .box{background:#fff;border-radius:10px; height:370px; width:510px;margin-top:30px;opacity: 0.4;box-shadow:0px 0px 12px #000;}
.cont .login_cont{ position:absolute; top:109px;}
.login_cont ul{ padding:55px 48px;}
.login_cont ul li{ background:#fff; width:414px;border-radius:10px; box-shadow:0px 0px 12px #3b524c; margin-bottom:32px; border:1px solid #f9f9f9;}
.login_cont ul li .userIco {width: 20px;height:20px;background: url('../images/user_icon.png') no-repeat;background-size:100% 100%;display: inline-block; margin:14px 5px 14px 16px; float:left; }
.login_cont ul li .passIco {width: 20px;height:20px;background: url('../images/pass_icon.png') no-repeat;background-size:100% 100%;display: inline-block; margin:14px 5px 14px 16px; float:left; }
.login_cont input{border: 0;border-radius: 0;outline: 0;bottom: 0; line-height:30px; padding:10px 10px 10px 5px; width:85%;font-size:16px; color:#999999; background:#fff;}
.login_cont .w250{ width:250px; position:relative;}
.login_cont .verification{ position:absolute;right:-100px; top:0px; margin-top:15px;}
.login_cont button{ background:#315aed; color:#fff; font-size:16px; font-weight:bold; text-align:center; line-height:50px; width:100%;border-radius:10px; border:1px #fde6da; }
